# 测试报告

测试报告旨在将测试和事项统计生成报告图表，从而帮助测试和开发人员分析每个迭代的测试缺陷任务。

报告包括测试统计和缺陷统计，其中测试统计包括自动化测试和手动测试。

## 测试报告记录
进入 **组织 > DevOps 平台 > 项目 > 测试管理 > 测试报告** 可查看生成的测试报告记录，支持根据迭代或名称进行筛选。
![](http://terminus-paas.oss-cn-hangzhou.aliyuncs.com/paas-doc/2021/11/19/886da321-3da9-4015-900e-31a2b938e6b2.png)

## 下载测试报告图表
点击 **下载** 按钮，可下载对应的测试报告图表。
报告内容主要为测试统计和缺陷统计。

### 测试统计图表
测试概览包括手动测试和自动化测试，基于迭代进行统计分析。关于测试统计更多信息，请参见 [测试概览](test-dashboard.md)。
![](http://terminus-paas.oss-cn-hangzhou.aliyuncs.com/paas-doc/2021/11/19/f91b3de5-889c-4f96-b712-f99713f43cce.png)

### 缺陷统计图表
统计图表中可查看筛选迭代下的缺陷统计数据。更多信息请参见 [缺陷统计](../collaboration/issue-dashboard.md)。
![](http://terminus-paas.oss-cn-hangzhou.aliyuncs.com/paas-doc/2021/11/19/ad6e1177-e6cd-4d2b-baf2-caead496e25a.png)

## 创建报告
点击测试报告界面右上角的 **创建报告** 按钮，可跳转至创建报告界面。
通过迭代下拉框进行筛选，可以看到选中迭代的测试报告，填写报告名称和测试总结，点击右上角的 **生成测试报告** 可以创建一个新的报告。
再次回到测试报告记录表可以看到当前生成的报告记录，点击下载即可查看图表内容。
![](http://terminus-paas.oss-cn-hangzhou.aliyuncs.com/paas-doc/2021/11/19/4c97647e-e2d1-4b2b-877f-fb763da2eb3d.png)
