# 测试报告

测试报告旨在将测试和事项统计生成报告图表，从而帮助测试和开发人员分析每个迭代的测试缺陷任务。

报告包括测试统计和缺陷统计，其中测试统计包括自动化测试和手动测试。

## 创建测试报告

进入 **DevOps 平台 > 项目 > 测试管理 > 测试报告**，点击右上角 **创建报告** 按钮，输入报告名称和测试总结，选择迭代，点击右上角 **生成测试报告** 即可创建一个新的报告。

![](http://terminus-paas.oss-cn-hangzhou.aliyuncs.com/paas-doc/2022/02/24/1cc5fadb-8505-4986-bcd0-afab2ffe46e2.png)

## 查看测试报告
进入 **DevOps 平台 > 项目 > 测试管理 > 测试报告** 可查看生成的测试报告记录，支持根据迭代或名称进行筛选。

![](http://terminus-paas.oss-cn-hangzhou.aliyuncs.com/paas-doc/2022/02/24/348dbdf5-74b3-498b-885f-d27e7e65d0d7.png)

## 下载测试报告
点击 **下载** 按钮，可下载对应的测试报告图表。报告内容主要为测试统计和缺陷统计。

### 测试统计图表
测试概览包括手动测试和自动化测试，基于迭代进行统计分析。关于测试统计更多信息，请参见 [测试概览](test-dashboard.md)。
![](http://terminus-paas.oss-cn-hangzhou.aliyuncs.com/paas-doc/2022/02/24/b3c391a5-e8cf-404c-89f2-e81d87a95ce2.png)

### 缺陷统计图表
统计图表中可查看筛选迭代下的缺陷统计数据。更多信息请参见 [缺陷统计](../collaboration/issue-dashboard.md)。

![](http://terminus-paas.oss-cn-hangzhou.aliyuncs.com/paas-doc/2021/11/19/ad6e1177-e6cd-4d2b-baf2-caead496e25a.png)
