// placeholder for test, dont't remove it.
// 颜色
$activeColor = #6554b5
$textColor = #2c3e50
$borderColor = #eaecef
$sidebarBgColor = #fafafa
$sidebarActiveBgColor = #efefef
$codeBgColor = #282c34
$arrowBgColor = #888
$badgeTipColor = #6554b5
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$darkTextColor = #000

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
