// placeholder for test, dont't remove it.
// 颜色
$accentColor = #5D48DF
$textColor = #2c3e50
$borderColor = #eaecef
$sidebarBgColor = #f5f5f5
$codeBgColor = #282c34
$arrowBgColor = #888
$badgeTipColor = #5D48DF
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
